/* 
  Use .orderItem- before the class name
*/

.orderItem-order {
  max-width: 245px;
  display: inline-flex;
  height: 30px;
  color: rgba(0,0,0,.87);
  background: rgba(0,0,0,.05);
  padding: 8px 12px 0px 12px;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 7px;
  margin-top: 3px;
  text-align: center;
}

.orderItem-order:hover {
  background: rgba(0,0,0,.1);
}